@charset "utf-8";

body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
strong{ font-weight: 400; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
body{ background: #fff;font: 24px/1.5 tahoma,arial,'\5FAE\8F6F\96C5\9ED1',sans-serif;color: #fff; }
.container {position: relative;width: 1200px;margin: 0 auto;}
.templet-tilte {margin-top: 14px;margin-bottom: 16px;font-size: 48px;text-align: center;}
.templet-content {margin-bottom: 10px;font-size: 20px;text-align: center;}
.templet-content a,.templet-content strong,.templet-en a,.templet-en strong,.templet-offer a,.templet-two-wt a,.templet-two-en a {color: #c0ff00;}
.templet-en {position: absolute;left: 50%;width: 1000px;margin-left: -500px;padding: 10px 0;background-color: #004f8f;color: #178cce;text-align: center;z-index: 998;}
.templet-intro {padding-top: 24px;padding-bottom: 22px;color: #333;font-size: 18px;text-align: center;}
.templet-intro-en {margin-top: 24px;color: #aaa;}
.templet-two-wt,.templet-two-en {line-height: 64px;background-color: #8f7d2f;border-radius: 5px;color: #2d2d2d;text-indent: 20px;}
.templet-two-en {padding-left: 20px;padding-right: 14px;margin-top: 20px;text-indent: 0;line-height: 38px;}
.templet-four-content .templet-tilte {margin: 0;margin-bottom: 42px;text-align: left;}
.templet-four-content .left-wapper {margin: 0;color: #ffd927;}
.templet-four-content .templet-link {margin-bottom: 32px;}
.templet-four-content .templet-two-wt,.templet-four-content .templet-two-en {width: 640px;color: #c8a400;background-color: #70642e;}
.templet-four-content .templet-two-wt a,.templet-four-content .templet-two-en a {color: #fff;}
.templet-four-content .templet-two-wt {margin-top: 60px;}
.templet-four-content .templet-two-en {width: 606px;}
.templet-four .right-wapper {background-color: #70642e;margin-left: 28px;padding: 56px 80px;border-radius: 5px;}
.templet-four .templet-user-msg {margin-top: 44px;color: #c8a400;}
.templet-four .templet-user-msg span {color: #c8a400;}
.container h2 {padding-top: 56px;padding-bottom: 26px;font-size: 24px;font-weight: 400;}
.container span {margin-left: 6px;font-size: 18px;color: #aaa;}
.left-wapper {float: left;margin: 28px 212px 74px 35px;}
.right-wapper {float: left;}
.right-wapper img{margin: 0 auto;display: block;}
.templet-user-msg {margin-top: 76px;}
.templet-user-msg p {line-height: 50px;}
.right-wapper .templet-tilte {margin-top: 82px;text-align: left;}
.templet-link a {display: inline-block;width: 138px;height: 38px;line-height: 38px;border: 1px solid #ffd927;margin-right: 30px;border-radius: 5px;text-align: center;color: #fff;font-size: 18px;}
.top-line {background-color: #e98c14;height: 5px;}
.templet-three {position: relative;margin-top: 192px;height: 703px;background: url('images/templet3-bg.png');}
.templet-three img {position: absolute;left: 50%;margin-left: -84px;top: -20%;}
.templet-three-msg {color: #494949;font-size: 20px;text-align: center;}
.templet-three-msg span{color: #494949;}
.templet-three .container {padding-top: 80px;border-bottom: 4px solid #11689b;}
.templet-three-content {padding: 54px 60px;margin-top: 36px;background-color: #eaedf2;color: #599ec7;}
.templet-three-content a {color: #ff9900;}
.templet-three-content .templet-tilte {text-align: left;color: #494949;}
.templet-three-content .templet-link a {color: #494949;border-color: #494949;}
.templet-three-wt {margin-top: 38px;margin-bottom: 30px;color: #599ec7;}
.templet-four-content {position: absolute;left: 50%;top: -120px;width: 1125px;padding: 68px 56px 120px 56px;margin-left: -562px;background: url('images/templet-four-bg1.png') no-repeat;overflow: hidden;}
.templet-five .templet-four-content,.templet-six .templet-four-content {background: #fff;padding-bottom: 40px;border-radius: 5px;border: 1px solid #ece7e7;}